*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 1500px;
}

body {
  background: #000;
  color: white;
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
}

section {
  margin: 80px 32px;
}


header {
  background: black;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 95%;
  max-width: 1500px;
}

.logo {
  font-size: 20px;
  margin: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo img {
  display: block;
  width: 10px;
  max-width: 1500px;
}

nav {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  background: black;
  width: 100%;
  height: 100vh;
  padding-top: 32px;
  display: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(0, 0, 0);
  height: 2px;
  width: 32px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 24px;
  margin-left: 16px;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #bdb8ff;
}

.nav-toggle:checked ~ nav {
  display: block;
}

@media (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background: black;
  }
  
  nav {
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 16px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
   nav li { 
    margin-bottom: 0;
    padding: 0;
  }
}



.section-one {
  margin: 170px 32px 0;
}

.header {
  font-size: 72px;
}

.section-one-paragraph {
  margin: 32px 0;
  width: 70%;
  max-width: 500px;
  line-height: 24px;
}


.learn-more-btn {
  background: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 12.8px ;
  text-decoration: none;
  color: black;
}

.learn-more-btn:hover {
  background: #a6b3ff;
  color: white;
}


.section-three h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}


.flex-group {
  display: flex;
  justify-content: ;
  align-items: center;
  gap: 48px;
}

.section-four p {
  margin-bottom: 32px;
}

.section-four-btn {
  margin-bottom: ;
}



.section-five-flex-group {
  flex-direction: row-reverse;
}

.section-five p {
  margin-bottom: 32px;
}



.section-six p {
  margin-bottom: 32px;
}



@media (max-width: 800px) {
  .flex-group {
    flex-direction: column;
  }
}



.section-seven h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.section-seven-btn {
  margin: 32px auto;
  display: flex;
  justify-content: center;
  width: 120px;
}





.section-nine {
  margin-top: 240px;
}

.logo-container {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

.section-nine svg {
  fill: white;
  height: 50px;
  cursor: pointer;
  transition: ease-in-out 250ms;
}

.section-nine svg:hover {
  transform: translateY(-10px);
  fill: #ffa98e;
}




.section-ten h3 {
  margin: 240px auto 32px;
  width: 80%;
  max-width: 700px;
  font-size: 2.40px;
  font-weight: 600;
  text-align: center;
}

.section-ten-btn {
  text-align: center;
  display: flex;  
  justify-content: center;
  margin: 0 auto;
  width: 120px;
}

#cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: calc(30% - 20px);
  margin: 10px;
  background-color: rgb(255, 255, 255);
  color: #000;
  overflow: hidden;
  box-shadow: 0px 10px 50px -31px white;
  height: 250px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
}

.title-card {
  text-align: center;
}



.buttons {
  margin-top: 20px;
  text-align: center;
  color: green;
  padding: 10px 20px;
  border: 2px solid green;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.buttons:hover {
  background-color: black;
  color: white;
  border-color: black;
}


.euclid-btn {
  color: rgb(207, 207, 0);
  border-color: rgb(207, 207, 0);
}

.euclid-btn:hover {
  background-color: black;
  color: white;
  border-color: black;
}


.keter-btn {
  color: red;
  border-color: red;
}

.keter-btn:hover {
  background-color: black;
  color: white;
  border-color: black;
}




.section-eleven {
  background: #000000;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.section-eleven h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.reviews {
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.review {
  width: 300px;
  padding: 20px;
  background: #000000;
  border-radius: 8px;
  margin: 0 10px;
}

.stars {
  font-size: 24px;
  margin-bottom: 10px;
}

.star {
  color: gold;
}

footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
}
